<!DOCTYPE html>
<html>
  <head><title>SBWEB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    {% block content %}{% endblock %}
    <p class="text-black-500 bg-white text-lg " >Here are the parts of this website:</p>
    <p class="text-black-500 bg-white text-lg " >/about gives u my about page</p>
    <p class="text-black-500 bg-white text-lg " >/projects gives u my projects page</p>
    <p class="text-black-500 bg-white text-lg " >/contact gives u a way to contact me :3</p>
  </body>
</html>

 