<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title class = "bg-white" >Project Page</title>
  </head>
<body>
  <h1 class="text-green-500 bg-white-100 text-4xl font-bold ">My Approved Projects</h1>
  
    <p class="text-black-500 bg-white-300 text-xl font-bold ">Blinky Chaser</p>
      <img src = "https://private-user-images.githubusercontent.com/278302371/588294227-053e85d9-bd4e-445a-9739-67993ae3d57a.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3ODE4MDA5NjksIm5iZiI6MTc4MTgwMDY2OSwicGF0aCI6Ii8yNzgzMDIzNzEvNTg4Mjk0MjI3LTA1M2U4NWQ5LWJkNGUtNDQ1YS05NzM5LTY3OTkzYWUzZDU3YS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjYwNjE4JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI2MDYxOFQxNjM3NDlaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1iNmFkNmIxZWIzNDdlNGRjMjY0NjVjNmFlNzcwYmY2ZGMyOTA5ODA2NjE1NjliOWM5YWU3NzIzMzdjZTM1NjY3JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZyZXNwb25zZS1jb250ZW50LXR5cGU9aW1hZ2UlMkZwbmcifQ.ECMkKRscURh7GwnQets51ESBQrRstw8bB7xpuHyh7UI"  width = "200" alt = "Photo Of 3D PCB" />

    <p class="text-black-500 bg-white-300 text-xl font-bold ">PathFinder</p>
      <img src = "https://private-user-images.githubusercontent.com/278302371/604116161-d0d0850a-4796-4faf-bb8f-ea124ff10936.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3ODE4MDE3MzUsIm5iZiI6MTc4MTgwMTQzNSwicGF0aCI6Ii8yNzgzMDIzNzEvNjA0MTE2MTYxLWQwZDA4NTBhLTQ3OTYtNGZhZi1iYjhmLWVhMTI0ZmYxMDkzNi5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjYwNjE4JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI2MDYxOFQxNjUwMzVaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1lMzQxYTVkZTI1YzVhMzQzZjY0YTM5ZDU5OWRkMmRlMzI2ZmEwYTE0OWUzY2IyNGQ0NTBkNmM5Y2ZmMmJmZjMyJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZyZXNwb25zZS1jb250ZW50LXR5cGU9aW1hZ2UlMkZwbmcifQ.KECfL_rKW4r2M0u9JzoP-Epd_jzMQSNDI9SehESAYaM"  width = "200" alt = "Photo Of 3D PCB" />
</html>