<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title class = "bg-white" >Project Page</title>
  </head>
<body>
  <h1 class="text-green-500 bg-white-100 text-4xl font-bold ">My Approved Projects</h1>

    <p class="text-black-500 bg-white-300 text-xl font-bold ">Blinky Chaser</p>
      <img src = "https://stasis.hackclub-assets.com/images/1778047438389-plfebj.png"  width = "800" alt = "Photo Of 3D PCB" />

    <p class="text-black-500 bg-white-300 text-xl font-bold ">PathFinder</p>
      <img src = "https://stasis.hackclub-assets.com/images/1780848082382-v5rddg.png"  width = "600" alt = "Photo Of 3D PCB" />
</html>